{% load xwf_extras %}

{% block card %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title"><i class="xw-ship xw-ship-{{ship.chassis.css_name}}"></i> {{ship}}</h5>
        <h6 class="card-subtitle">Initiative {{ship.pilot.initiative}}<h6>
    </div>

    <div class="card-body">
        <ul class="list-group mb-3">
            <li class="list-group-item attack">{{ship.chassis.get_attack_arc_display|get_icon}} {{ship.chassis.attack}}</li>

            {% if ship.chassis.attack2 %}
            <li class="list-group-item attack">{{ship.chassis.arc2_css|get_icon}} {{ship.chassis.attack2}}</li>
            {% endif %}

            <li class="list-group-item agility">{{'agility'|get_icon}} {{ship.chassis.agility}}</li>

            <li class="list-group-item hull">{{'hull'|get_icon|repeat:ship.chassis.hull}}</li>

            {% if ship.chassis.shields %}
            <li class="list-group-item shields">{{"shield"|get_icon|repeat:ship.chassis.shields}}</li>
            {% endif %}

            {% if ship.pilot.force_charges %}
            <li class="list-group-item force">{{"Force"|get_icon|repeat:ship.pilot.force_charges}}</li>
            {% endif %}

        </ul>

        {% if ship.chassis.ability %}
        <span><strong>{{ship.chassis.ability}}</strong>: {{ship.chassis.ability.description|iconize}}</span>
        {% endif %}
    </div>

    <div class="card-footer">
        {% if slots %}
        <ul class="col list-group list-group-horizontal">
            {% for slot in slots %}
            <li class="list-group-item">{{slot.label|get_icon}}<li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock card %}
