{% load xwf_extras %}

{% block card %}

<div class='upgrade-card card g-0'>
    <a card_id={{upgrade.id}} href='#'
        class="card-header text-decoration-none
        {% if status == 'X' %} bg-danger text-light
        {% elif status == 'E' %} bg-info text-light
        {% endif %}"
        <h5 class='card-title'>
            {{upgrade.get_type_display|get_icon}}
            {% if upgrade.type2 %}
            {{upgrade.get_type2_display|get_icon}}
            {% endif %}
            {{upgrade.name}}
        </h5>
        <span class="float-end">
            <i class="xwing-miniatures-font xwing-miniatures-font-squad-point-cost"></i>
            {% if upgrade_logic %}{{upgrade|get_cost:upgrade_logic}}
            {% else %}{{upgrade.cost}}
            {% endif %}
        </span>
    </a>

  <div class='card-body'>
      <p>{{upgrade.description|iconize}}</p>
  </div>

  <div class="card-footer">
      <ul class='list-group list-group-horizontal'>
          {% if upgrade.attack %}
          <li class="list-group-item attack">
              <span>{{upgrade.attack.get_arc_display|get_icon}}{{upgrade.attack.dice}}
                  {% if upgrade.attack.ordnance %}{{"Ordnance"|get_icon}}{% endif %}
                  {{upgrade.attack.range}}
              </span>
          </li>
          {% endif %}

          {% if upgrade.charges %}
          <li class='list-group-item'>
              <span>
                  {% if upgrade.force %}{{"Force#force"|get_icon|repeat:upgrade.charges}}
                  {% else %}{{"Charge#charge"|get_icon|repeat:upgrade.charges}}
                  {% endif %}
              </span>
          </li>
          {% endif %}
      </ul>
      </div>
</div>

{% endblock card %}
