{% extends 'base.html' %}

{% load xwf_extras %}
{% load static %}

{% block content %}

{% with ai.dial.chassis as ship %}
<div class="container">
    <div class="row text-center">
        <h5 class=""><i class="xw-ship xw-ship-{{ship.css_name}}"></i>{{ai.dial.chassis}} AI</h5>
    </div>

    <div class="row text-left">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>Select Target</h5>
                    <ol class="list-group list-group-numbered">
                        {% for t in targets %}
                        <li class="list-group-item">{{t.desc}}</li>
                        {% endfor %}
                    </ol>
                </li>

                <li class="list-group-item">
                    <h5>Select Action</h5>
                    <ol class="list-group list-group-numbered">
                        {% for a in actions %}
                        <li class="list-group-item">{{a.desc}}</li>
                        {% endfor %}
                    </ol>
                </li>
            </ul>
        </div>

        <div class="col-8 text-center">
            <ul class="nav nav-pills mb-4 justify-content-between" role="tablist">
                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link" id="mv-fl-tab"
                           data-bs-toggle="tab" href="#mv-fl"
                           role="tab" aria-controls="home" aria-selected="true">Front (Left)</a>
                    </li>
                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link" id="mv-be-tab"
                           data-bs-toggle="tab" href="#mv-be"
                           role="tab" aria-controls="home" aria-selected="true">Bullseye</a>
                    </li>
                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link" id="mv-fr-tab"
                           data-bs-toggle="tab" href="#mv-fr"
                           role="tab" aria-controls="home" aria-selected="true">Front (Right)</a>
                    </li>
                     <li class="w-100"></li>

                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link" id="mv-lf-tab"
                           data-bs-toggle="tab" href="#mv-lf"
                           role="tab" aria-controls="home" aria-selected="true">Left (Front)</a>
                    </li>
                    <li class="nav-item col-2" role="presentation"></li>
                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link" id="mv-rf-tab"
                           data-bs-toggle="tab" href="#mv-rf"
                           role="tab" aria-controls="home" aria-selected="true">Right (Front)</a>
                    </li>

                     <li class="w-100"></li>

                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link" id="mv-la-tab"
                           data-bs-toggle="tab" href="#mv-la"
                           role="tab" aria-controls="home" aria-selected="true">Left (Rear)</a>
                    </li>

                    <li class="nav-item col-2" role="presentation"></li>

                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link" id="mv-ra-tab"
                           data-bs-toggle="tab" href="#mv-ra"
                           role="tab" aria-controls="home" aria-selected="true">Right (Rear)</a>
                    </li>

                     <li class="w-100"></li>

                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link" id="mv-al-tab"
                        data-bs-toggle="tab" href="#mv-al" role="tab" aria-controls="home" aria-selected="true">Rear (Left)</a>
                    </li>

                    <li class="nav-item col-2" role="presentation"></li>

                    <li class="nav-item col-2" role="presentation">
                        <a class="nav-link" id="mv-ar-tab"
                        data-bs-toggle="tab" href="#mv-ar" role="tab" aria-controls="home" aria-selected="true">Rear (Right)</a>
                    </li>
                </ul>

            <div class="tab-content">
            {% regroup mvs by arc as maneuvers %}

                {% for dir in maneuvers %}

                <div class="tab-pane fade {% if forloop.first %}show{% endif %}" id="mv-{{dir.grouper|lower}}" role="tabpanel" aria-labelledby="mv-{{dir.grouper|lower}}-tab">
                {% for r in dir.list %}
                    <button type="button" class="btn btn-block btn-secondary">{{r.get_range_display}}</button>
                    <ul class="list-group mb-4 d-flex list-group-horizontal">
                        {% for roll in r.rolls %}
                        <li class="list-group-item flex-fill px-1">{{roll.speed}}<span class="{{roll.icon_color}}">{{roll.css_name|get_icon}}</span></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                </div>
                {% endfor %}

                <div>
                    <div>Flee Threshold: {{ai.flee}}</div>
                    <div>Hyperdrive: {{ai.dial.chassis.hyperdrive|yesno}}</div>

                </div>
            </div>

        </div>
    </div>


</div>
{% endwith %}
{% endblock content %}

{% block extrajs %}
    <script src="{% static 'js/ai.js' %}"></script>
{% endblock extrajs %}
