{% extends 'base.html' %}

{% block content %}

<div class="row mb-3">
    <div class="col">
        <h2>{{campaign.description}}</h2>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <h3>Pilots</h3>
        <div class="list-group">
            {% for pilot in campaign.pilot_set.all %}
            <a href="{% url 'game:pilot' pilot.id %}" class="list-group-item list-group-item-action">{{pilot.callsign}}</a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mb-3">
  <div class="col">
    <h3>Available Ships</h3>
    <div class="list-group">
    {% for ship in campaign.rulebook.ships.all %}
      <a href="{% url 'chassis' chassis_slug=ship.slug %}" class="list-group-item list-group-item-action">{{ship.name}}</a>
    {% endfor %}
    </div>
  </div>
</div>

<div class="row mb-3">
    <div class="col">
        <h3>Sessions</h3>
        <div class="list-group">
            {% for session in campaign.session_set.all %}
            <a href="{% url 'game:session' session.id %}" class="list-group-item list-group-item-action">{{session.mission}}</a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
