{% extends 'base.html' %}

{% load xwf_extras %}

{% block content %}

<div class="row">
    <div class="col">
        <p>Player: {{pilot.user}}</p>
        <p>Callsign: {{pilot.callsign}}</p>
        <p>Campaign: <a href="{% url 'campaign' pilot.campaign.id %}">{{pilot.campaign}}</a></p>
        <p>Missions Flown: {{missions}}</p>
    </div>
    <div class="col">
        <div class="col">XP Earned: <i class="xwf xwf-squad-point-cost"></i>{{pilot.total_xp}}</div>
        <div class="col">XP Available: <i class="xwf xwf-squad-point-cost"></i>{{remaining}}</div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <h4>Upgrades</h4>
            {% regroup pilot.upgrades.all by get_type_display as upgrade_list %}
            {% for upgrade_type, upgrades in upgrade_list %}
        <div class="row">
            <ul class="list-inline col mb-1">
            {% for upgrade in upgrades %}
                <li class="list-inline-item">
                    {{upgrade.get_type_display|get_icon}}
                    {% if upgrade.type2 %}
                    {{upgrade.get_type2_display|get_icon}}
                    {% endif %}
                    {{upgrade}}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>


<div class="row">
    <div class="col">
        {% for ps in pilot.pilotship_set.all %}
        <div class="row mb-2">
                <div class="col-3">
                  <h5><a href="{% url 'ship' ship_slug=ps.ship.ship.slug %}">{{ps.ship.name}} <i class="xw-ship xw-ship-{{ps.ship.css_name}}"></i></a></h5>
                  <span>Initiative {{ps.initiative}}</span>
                </div>
        </div>

        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col">
        <h5>Achievements</h5>
        <ul class="list-group col">
        {% for event in achievements %}
            <li class="list-group-item">{{event.event}} <span class="badge badge-primary badge-pill">x{{event.count}}</span></li>
        {% endfor %}
        </ul>

    </div>

</div>

{% endblock %}
