{% extends 'base.html' %}

{% load xwf_extras %}

{% block content %}

<div class="row">
    <div class="col">
        <p>Player: {{pilot.user}}</p>
        <p>Callsign: {{pilot.callsign}}</p>
        <p>Campaign: <a href="{% url 'campaign' pilot.campaign.id %}">{{pilot.campaign}}</a></p>
        <p>Missions Flown: {{missions}}</p>
    </div>
    <div class="col">
        <div class="col">XP Earned: <i class="xwf xwf-squad-point-cost"></i>{{pilot.total_xp}}</div>
        <div class="col">XP Available: <i class="xwf xwf-squad-point-cost"></i>{{remaining}}</div>
    </div>
</div>


<div class="row mb-1">
    <div class="col list-group list-group-horizontal" id='ship_list' role='tablist'>
        {% for ps in pilot.pilotship_set.all %}
        <a class='list-group-item list-group-item-action {% if forloop.last %} active {% endif %}' data-toggle='list' href='#{{ps.chassis.slug}}' role='tab'>{{ps.chassis.name}}</a>
        {% endfor %}
    </div>
</div>

<div class="row mb-3">
    <div class='tab-content'>
        {% for ps in pilot.pilotship_set.all %}
        <div class='tab-pane {% if forloop.last %} active {% endif %}' id='{{ps.chassis.slug}}' role='tabpanel'>
            <h6><a href="{% url 'chassis' chassis_slug=ps.chassis.slug %}">{{ps.chassis.name}} <i class="xw-ship xw-ship-{{ps.css_name}}"></i></a></h6>
            <span>Initiative {{ps.initiative}}</span>
            <ul class="list-group list-group-horizontal">
            {% for slot in ps.slots %}
              <li class="list-group-item">{{slot|get_icon}}<li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>


<div class="row mb-3">
    <div class="col">
        <h4>Upgrades</h4>
            {% regroup pilot.upgrades.all by get_type_display as upgrade_list %}
            {% for upgrade_type, upgrades in upgrade_list %}
        <div class="row">
            <ul class="list-inline col mb-1">
            {% for upgrade in upgrades %}
                <li class="list-inline-item">
                    {{upgrade.get_type_display|get_icon}}
                    {% if upgrade.type2 %}
                    {{upgrade.get_type2_display|get_icon}}
                    {% endif %}
                    {{upgrade}}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>



<div class="row">
    <div class="col">
        <h5>Achievements</h5>
        <ul class="list-group col">
        {% for event in achievements %}
            <li class="list-group-item">{{event.event__long_desc}} <span class="badge badge-primary badge-pill">x{{event.count}}</span></li>
        {% endfor %}
        </ul>

    </div>

</div>

{% endblock %}
