{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block content %}
        <header class="container">
            <h4>{{ session.mission }}</h4>
        </header>
        {% for pilot in pilots %}
        <div class="container">
        <h5>{{ pilot.callsign }}</h5>
        {% render_table pilot %}
        </div>
        {% endfor %}


        <div class='row'>
            <ul class='list-group'>
                {% regroup session.sessionenemy_set.all by flight_group as flight_groups %}
                {% for flight_group, ships in flight_groups %}
                    {% block fg %}
                    {% include './includes/flight_group.html' %}
                    {% endblock fg %}
                {% endfor %}
            </ul>
        </div>
{% endblock %}
