{% extends 'base.html' %}

{% load xwf_extras %}

{% block content %}

{% if session %}

<div class="row">
    <div class="col">
        <h3>{{session.mission}}</h3>
        <h5>{{session.date}}</h5>
        <h5>{{session.get_outcome_display}}!</h5>
    </div>
</div>

<div class="row">
    <ul class="list-group col">
        <li class="list-group-item">XP</li>
        <li class="list-group-item">Total: <i class="xwf xwf-squad-point-cost"></i>{{session.xp_total}}</li>
        <li class="list-group-item">Earned: <i class="xwf xwf-squad-point-cost"></i>{{session.xp_earned}}</li>
        <li class="list-group-item">Remainder: <i class="xwf xwf-squad-point-cost"></i>{{session.xp_remainder}}</li>
    </ul>
</div>

<nav class="nav nav-pills">

</nav>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pilots-tab" data-bs-toggle="tab" data-bs-target="#pilots" type="button" role="tab" aria-controls="home" aria-selected="true">Pilots</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="enemies-tab" data-bs-toggle="tab" data-bs-target="#enemies" type="button" role="tab" aria-controls="enemies" aria-selected="false">Enemies</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="init-tab" data-bs-toggle="tab" data-bs-target="#init" type="button" role="tab" aria-controls="init" aria-selected="false">Initiative</button>
  </li>
 </ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="pilots" role="tabpanel" aria-labelledby="pilots-tab">
      {% for sp in session.sessionpilot_set.all %}
      <div>{{sp.pilot.callsign}}</div>
      {% endfor %}
  </div>

  <div class="tab-pane" id="enemies" role="tabpanel" aria-labelledby="enemies-tab">
      {% for ep in session.sessionenemy_set.all %}

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ep.callsign}}</h5>
          <h6 class="card-subtitle mb-2 text-muted"><a href="{% url 'ai' ep.enemy.chassis.slug %}" class="card-link">{{ep.enemy}}</a></h6>
          {% if ep.abilities %}
          <ul class="list-group">
            {% for a in ep.abilities %}
            <li class="list-group-item">{{a}}</li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>
      </div>

      {% endfor %}
  </div>

  <div class="tab-pane " id="init" role="tabpanel" aria-labelledby="init-tab">
      {% for ship in init_list %}
      <div class="card mb-3 {% if ship.enemy %}border-danger{% endif %}">
          <div class="card-header" id="heading-{{forloop.counter}}">
              <div class="row justify-content-between">
                  <h4 class="col-4">
                      <i class="xw-ship xw-ship-{{ship.chassis.css_name}}"></i> {{ship}}
                  </h4>
                  <div class="col-1 form-check form-switch">
                      <input class="form-check-input"
                             type="checkbox"
                             data-bs-toggle="collapse"
                             data-bs-target="#collapse-{{forloop.counter}}"
                             aria-expanded="true"
                             aria-controls="collapse-{{forloop.counter}}"
                             checked
                             id="toggle-{{forloop.counter}}">
                      <label class="form-check-label" for="toggle-{{forloop.counter}}">Active</label>
                 </div>
             </div>
          </div>
          <div id="collapse-{{forloop.counter}}" class="collapse show" aria-labelledby="heading-{{forloop.counter}}">
             <div class="card-body">
                <h5 class="card-title">{{ship.pilot}} {% if ship.elite %}{{'talent'|get_icon}}{% endif %}</h5>
                <ul class="list-group list-group-horizontal mb-3">
                    <li class="list-group-item attack">{{ship.chassis.attack}}{{ship.chassis.arc1_css|get_icon}}</li>
                    <li class="list-group-item agility">{{ship.chassis.agility}}{{'agility'|get_icon}}</li>
                    {% if ship.chassis.shields %}<li class="list-group-item shields">{{ship.chassis.shields}}{{'shield'|get_icon}}</li>{% endif %}
                    <li class="list-group-item hull">{{ship.chassis.hull}}{{'hull'|get_icon}}</li>
                </ul>

               {% if ship.abilities %}
               <ul class="list-group">
                 {% for a in ship.abilities %}
                 <li class="list-group-item"><strong>{{a}}</strong>: {% if ship.enemy %}{{a.upgrade.ai_description}}{% else %}{{a.description}}{% endif %}</li>
                 {% endfor %}
               </ul>
               {% endif %}
             </div>
             <div class="card-footer">
                 <div class="btn btn-primary">Initiative {{ship.initiative}}</div>
                 {% if ship.enemy %}
                 <div class="btn btn-secondary">{{ship.flight_group.get_orders_display}}</div>
                 <div class="btn btn-warning">Turn {{ship.flight_group.arrival}}</div>
                 <div class="btn btn-warning">Vector {{ship.flight_group.vector}}</div>
                 <a href="{% url 'ai' ship.enemy.chassis.slug %}" class="btn btn-danger">AI</a>
                 {% endif %}
             </div>
           </div>
      </div>
    {% endfor %}
  </div>
</div>


{% endif %}

{% endblock %}
