{% extends 'base.html' %}

{% load xwf_extras %}

{% block content %}

{% if session %}

<div class="row">
    <div class="col">
        <h3>{{session.mission}}</h3>
        <h5>{{session.date}}</h5>
        <h5>{{session.get_outcome_display}}!</h5>
    </div>
</div>

<div class="row">
    <ul class="list-group col">
        <li class="list-group-item">XP</li>
        <li class="list-group-item">Total: <i class="xwf xwf-squad-point-cost"></i>{{session.xp_total}}</li>
        <li class="list-group-item">Earned: <i class="xwf xwf-squad-point-cost"></i>{{session.xp_earned}}</li>
        <li class="list-group-item">Remainder: <i class="xwf xwf-squad-point-cost"></i>{{session.xp_remainder}}</li>
    </ul>
</div>

<nav class="nav nav-pills">

</nav>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pilots-tab" data-bs-toggle="tab" data-bs-target="#pilots" type="button" role="tab" aria-controls="home" aria-selected="true">Pilots</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="enemies-tab" data-bs-toggle="tab" data-bs-target="#enemies" type="button" role="tab" aria-controls="enemies" aria-selected="false">Enemies</button>
  </li>
 </ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="pilots" role="tabpanel" aria-labelledby="pilots-tab">
      {% for sp in session.sessionpilot_set.all %}
      <div>{{sp.pilot.callsign}}</div>
      {% endfor %}
  </div>

  <div class="tab-pane" id="enemies" role="tabpanel" aria-labelledby="enemies-tab">
      {% for ep in session.sessionenemy_set.all %}

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ep.callsign}}</h5>
          <h6 class="card-subtitle mb-2 text-muted"><a href="{% url 'ai' ep.enemy.chassis.chassis_slug %}" class="card-link">{{ep.enemy}}</a></h6>
          <h6 class="card-subtitle">Initiative {{ep.initiative}}</h6>
          {% if ep.abilities %}
          <ul>
            {% for a in ep.abilities %}
            <li>{{a}}</li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>
      </div>

      {% endfor %}
  </div>
</div>


{% endif %}

{% endblock %}
