{% extends 'base.html' %}

{% load xwf_extras %}

{% block title %}{{session}}{% endblock %}

{% block content %}

{% if session %}

{% with mission=session.mission %}
<div class="row mb-3">
    <div class="col">
        <h3>{{mission.name}}</h3>
        <h5>{{mission.story}} {{mission.sequence}}</h5>
        <h6>{{session.date}}</h6>
        <h6>{{session.get_outcome_display}}!</h6>
        <ul class="list-group">
            <li class="list-group-item"><strong>Objectives</strong></li>
            <li class="list-group-item"><strong>Primary:</strong> {{mission.objective}}</li>
            {% if mission.bonus_1 %}<li class="list-group-item"><strong>Bonus:</strong> {{mission.bonus_1}}</li>{% endif %}
            {% if mission.bonus_2 %}<li class="list-group-item"><strong>Bonus:</strong> {{mission.bonus_2}}</li>{% endif %}
            {% if mission.penalty %}<li class="list-group-item"><strong>Penalty:</strong> {{mission.penalty}}</li>{% endif %}
        </ul>
    </div>
</div>

<nav class="nav nav-pills">

</nav>

<!-- Nav tabs -->
<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pilots-tab" data-bs-toggle="tab" data-bs-target="#pilots" type="button" role="tab" aria-controls="home" aria-selected="true">Pilots</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="enemies-tab" data-bs-toggle="tab" data-bs-target="#enemies" type="button" role="tab" aria-controls="enemies" aria-selected="false">Enemies</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="init-tab" data-bs-toggle="tab" data-bs-target="#init" type="button" role="tab" aria-controls="init" aria-selected="false">Initiative</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="features-tab" data-bs-toggle="tab" data-bs-target="#features" type="button" role="tab" aria-controls="init" aria-selected="false">Features</button>
  </li>

 </ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="pilots" role="tabpanel" aria-labelledby="pilots-tab">

  {% if session.campaign.pool_xp %}
  <div class="card mb-3">
      <h5 class="card-header">XP Pool</h5>
      <div class="card-body">
          <span class="badge rounded-pill bg-info text-dark">{{session.xp_pool}}</span> earned total.
          <span class="badge rounded-pill bg-info text-dark">{{session.xp_share}}</span> per player.
      </div>
  </div>
  {% endif %}

  {% for pilot in session.sessionpilot_set.all %}
    <div class="card mb-3">
        <h5 class="card-header"><i class="xw-ship xw-ship-{{pilot.ship.chassis.css_name}}"></i> {{pilot}}</h5>
        <div class="card-body container">
            <div class="row mb-1">
                <div class="col-2"><span class="badge rounded-pill bg-info text-dark">{{pilot.hits}}</span> Hits</div>
                <div class="col-2"><span class="badge rounded-pill bg-info text-dark">{{pilot.assists}}</span> Assists</div>
                <div class="col-2"><span class="badge rounded-pill bg-info text-dark">{{pilot.guards}}</span> Guards</div>
                <div class="col-2"><span class="badge rounded-pill bg-info text-dark">{{pilot.guards}}</span> Emplacements</div>
                {% if mission.bonus_1 %}<div class="col-2"><span class="badge rounded-pill bg-info text-dark">{{pilot.bonus}}</span>Bonus</div>{% endif %}
                {% if mission.penalty %}<div class="col-2"><span class="badge rounded-pill bg-danger">-{{pilot.penalty}}</span>Penalty</div>{% endif %}
            </div>

            <ul class="row list-group list-group-flush">
                {% for kill in pilot.kills.all %}
                <li class="list-group-item"><span class="badge rounded-pill bg-info text-dark">{{kill.xp}}</span> {{kill.enemy}} ({{kill.callsign}})</li>
                {% empty %}
                <li class="list-group-item"><em>None</em></li>
                {% endfor %}
            </ul>
        </div>

        <div class="card-footer">
            <span><strong>XP Earned</strong> <span class="badge rounded-pill bg-info text-dark">{{pilot.xp_earned}}</span></span>
        </div>
    </div>
  {% endfor %}
</div>


  <div class="tab-pane" id="enemies" role="tabpanel" aria-labelledby="enemies-tab">
      <span>Ship Counts</span>
      <ul class="list-group">
      {% for ship in enemy_count %}
        <li class="list-group-item">
            {{ship.chassis__name}}
             <span class="badge rounded-pill bg-light text-dark">{{ship.ship_count}}</span>
             </li>
      {% endfor %}
      </ul>
  </div>

  <div class="tab-pane " id="init" role="tabpanel" aria-labelledby="init-tab">
      {% for ship in init_list %}
      <div class="card mb-3 {% if ship.enemy %}border-danger{% endif %}">
          <div class="card-header" id="heading-{{forloop.counter}}">
              <div class="row justify-content-between">
                  <h5 class="col-8">
                      <i class="xw-ship xw-ship-{{ship.chassis.css_name}}"></i> {{ship}}
                  </h5>
                  <div class="col-4 form-check form-switch">
                      <label class="form-check-label" for="toggle-{{forloop.counter}}">Active</label>
                      <input class="form-check-input"
                             type="checkbox"
                             data-bs-toggle="collapse"
                             data-bs-target="#collapse-{{forloop.counter}}"
                             aria-expanded="true"
                             aria-controls="collapse-{{forloop.counter}}"
                             checked
                             id="toggle-{{forloop.counter}}">

                 </div>
             </div>
          </div>

          <div id="collapse-{{forloop.counter}}" class="collapse show" aria-labelledby="heading-{{forloop.counter}}">
             <div class="card-body">
                <h6 class="card-title">{{ship.pilot}} {% if ship.elite %}{{'talent'|get_icon}}{% endif %}</h6>
                <ul class="list-group list-group-horizontal mb-3">
                    <li class="list-group-item attack">{{ship.chassis.get_attack_arc_display|get_icon}}{{ship.chassis.attack}}</li>
                    {% if ship.chassis.attack2 %}
                    <li class="list-group-item attack">{{ship.chassis.get_attack2_arc_display|get_icon}}{{ship.chassis.attack2}}</li>
                    {% endif %}
                    <li class="list-group-item agility">{{'agility'|get_icon}}{{ship.chassis.agility}}</li>
                    <li class="list-group-item hull">{{'hull'|get_icon|repeat:ship.chassis.hull}}</li>
                    {% if ship.chassis.shields %}<li class="list-group-item shields">{{'shield'|get_icon|repeat:ship.chassis.shields}}</li>{% endif %}
                    {% if ship.chassis.energy %}<li class="list-group-item energy">{{'energy'|get_icon|repeat:ship.chassis.energy}}</li>{% endif %}
                </ul>

               {% if ship.abilities %}
               <ul class="list-group">
                 {% for a in ship.abilities.all %}
                 <li class="list-group-item"><strong>{{a}}</strong>: {% if ship.enemy %}{{a.card.ai_description|iconize}}{% else %}{{a.description|iconize}}{% endif %}</li>
                 {% endfor %}
               </ul>
               {% endif %}
             </div>
             <div class="card-footer">
                 <div class="btn btn-primary">Initiative {{ship.initiative}}</div>
                 {% if ship.enemy %}
                 <div class="btn btn-secondary">{{ship.flight_group.get_orders_display}}</div>
                 <div class="btn btn-warning">Turn {{ship.flight_group.arrival}}</div>
                 <div class="btn btn-warning">Vector {{ship.flight_group.vector}}</div>
                 <a href="{% url 'ai' ship.enemy.chassis.slug %}" class="btn btn-danger">AI</a>
                 {% endif %}
             </div>
           </div>
      </div>
    {% endfor %}
  </div>

  <div class="tab-pane" id="features" role="tabpanel" aria-labelledby="features-tab">
      {% for feature in mission.features.all %}
      <div class="card col-sm-6 mb-3">
          <div class="card-header"><h6>{{feature}}</h6></div>
          <div class="card-body">
              {% if feature.hull %}
              <ul class="list-group float-start me-2">
                  {% if feature.attack %}<li class="list-group-item attack">{{'Front Arc'|get_icon}}3, Range {{feature.attack_range}}</li>{% endif %}
                  <li class="list-group-item hull">{{'hull'|get_icon|repeat:feature.hull}}</li>
                   {% if feature.shields %}<li class="list-group-item shields">{{'shield'|get_icon|repeat:feature.shields}}</li>{% endif %}
              </ul>
              {% endif %}
              <p class="">
                  {{feature.description|iconize}}
              </p>
          </div>
      </div>
      {% endfor %}
  </div>

</div>

    {% endwith %}
{% endif %}

{% endblock %}
