{% extends 'base.html' %}

{% load xwf_extras %}
{% load math %}


{% block content %}
        <div class="row mb-2">
                <div class="col-3">
                    <h5><i class="xw-ship xw-ship-{{ship.css_name}}"></i> {{ship.name}}</h5>
                </div>
        </div>

        <div class="row mb-2">
                <div class="col-3">
                    <h5>Base XP: {{ship.start_xp}}</h5>
                </div>
        </div>

        <div class="row">
            <div class="col">
                <h6>Slots</h6>
                {% for slot in ship.slots.all %}
                <p>{{slot.get_type_display|get_icon}}<p>
                {% endfor %}
            </div>
        </div>


        <div class="row">
            <ul class="root col list-group">
            </ul>
        </div>


<div class="container">
    {% regroup ship.dial.maneuvers.all by speed as speed_rows %}

    {% for spd, mvs in speed_rows %}
    <div class="row">
        <div class="col-sm-1">{{spd}}</div>
        {% for cell in mvs|dial_pad:ship.dial.dial_width %}
        <div class="col-sm-1"></div>
        {% endfor %}
        {% for mv in mvs %}
        <div class="col-sm-1 {{mv.icon_color}}">{{mv.css_name|get_icon}}</div>
        {% endfor %}
        <div class="w-100"></div>
    </div>
    {% endfor %}
</div>


{% endblock %}
