{% extends 'base.html' %}

{% load xwf_extras %}
{% load mptt_tags %}


{% block content %}
        <div class="row mb-2">
                <div class="col-3">
                    <h5>{{ship.name}}</h5>
                </div>
        </div>

        <div class="row mb-2">
                <div class="col-3">
                    <h5>Base XP: {{ship.start_xp}}</h5>
                </div>
        </div>

        <div class="row">
            <div class="col">
                <h6>Slots</h6>
            </div>
        </div>


        <div class="row">
            <ul class="root col list-group">
                Threat 1
            {% recursetree ship.treeslot_set.all %}
                <li class="list-group-item">
                    {{node.get_type_display}} [{{node.cost}}]
                    {% if not node.is_leaf_node %}
                </li>
            </ul>
                <ul class="children list-group">
                    Threat {{node.threat}}
                    {{children}}
                </ul>
                   {% endif %}
        {% endrecursetree %}
            </ul>
        </div>
</div>

{% endblock %}