{% extends 'base.html' %}

{% load xwf_extras %}
{% load math %}
{% load mptt_tags %}


{% block content %}
        <div class="row mb-2">
                <div class="col-3">
                    <h5><i class="xw-ship xw-ship-{{ship.css_name}}"></i> {{ship.name}}</h5>
                </div>
        </div>

        <div class="row mb-2">
                <div class="col-3">
                    <h5>Base XP: {{ship.start_xp}}</h5>
                </div>
        </div>

        <div class="row">
            <div class="col">
                <h6>Slots</h6>
            </div>
        </div>


        <div class="row">
            <ul class="root col list-group">
            {% recursetree ship.treeslot_set.all %}
                <li class="list-group-item">
                    {% ifchanged node.threat %}
                    {{node.threat|threatbar|safe}}
                    {% endifchanged %}
                    {{node.get_type_display|get_icon}}
                    {% if node.type2 %}
                    /{{node.get_type2_display|get_icon}}
                    {% endif %}
                    <i class="xwf xwf-squad-point-cost"></i>{{node.cost}}
                    {% if not node.is_leaf_node %}
                        <ul class="list-group children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
            </ul>
        </div>


<div class="container">
    {% regroup ship.dial.maneuvers.all by speed as speed_rows %}

    {% for spd, mvs in speed_rows %}
    <div class="row">
        <div class="col-sm-1">{{spd}}</div>
        {% for cell in mvs|dial_pad:ship.dial.dial_width %}
        <div class="col-sm-1"></div>
        {% endfor %}
        {% for mv in mvs %}
        <div class="col-sm-1 {{mv.icon_color}}">{{mv.css_name|get_icon}}</div>
        {% endfor %}
        <div class="w-100"></div>
    </div>
    {% endfor %}
</div>

<!--
<div class="row">
    {% full_tree_for_model campaign.treeslot as slots %}
    <div class="col">
    {% for slot in slots %}
        {{slot}}
    {% endfor %}
    </div>

</div>
-->

{% endblock %}