{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HotAC Manager</title>
        {% block stylesheet %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
                  rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
                  crossorigin="anonymous">
            <link rel="stylesheet" type="text/css"  href="{% static 'xwf/xwing-miniatures.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'hotac/style.css' %}">
        {% endblock %}
    </head>

    <body>
        <div class="container">
              <h1 class="mt-2">HotAC Manager</h1>
              <hr class="mt-0 mb-4">
              {% block content %}
              {% endblock %}
        </div>

        {% block js %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
                    crossorigin="anonymous">
            </script>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                    crossorigin="anonymous">
            </script>
        {% endblock %}

        {% block extrajs %}
        {% endblock %}
    </body>
</html>
