:root {
    --green: mediumseagreen;
    --red: red;
    --blue: blue;
    --yellow: goldenrod;
    --orange: darkorange;
    --purple: mediumpurple;
    --grey: dimgrey;
    --line-height-base: 1.5rem;
}

body {

}

.scrollspy {
    position: relative;
    overflow-y: scroll;
}

#available-list {
    height: 400px;
    max-width: 77rem;
    padding-left: 1rem;
}

i.xwing-miniatures-font {
    font-size: inherit;
}

section > .row {
    margin: 0.5rem;
}

.hard,
.attack, .xwf-attack,
.attack:before,
.attack > i:before {
    color: var(--red);
}

.agility, .xwf-agility,
.agility > i.before,
.agility:before {
    color: var(--green);
}

.easy, .blue,
.shields, .xwf-shields,
.shields > i.before,
.shields:before {
    color: var(--blue);
}

.hull, .xwf-hull,
.hull > i.before,
.hull:before {
    color: var(--yellow);
}

.force, .xwf-force,
.force > i.before,
.force:before {
    color: var(--purple);
}

.charge, .xwf-charge,
.charge > i.before,
.charge:before {
    color: var(--orange);
}

.xwf-linked,
.linked.before {
    color: var(--grey);
}

.icon {
    padding: 0.5rem;
    margin-left: 0;
}

.ability > .xwing-miniatures-font {
    font-size: inherit;
}

.threat-1 {color:var(--green);}
.threat-2 {color:var(--yellow);}
.threat-3 {color:var(--orange);}
.threat-4 {color: var(--red);}
.threat-5 {color:magenta;}
.threat-6 {color:var(--purple);}

.upgrade {
    padding-top: 0.25rem;
    border-top: 1px solid var(--grey);
}

.side2 {
    border-top: 1px dashed var(--grey);
}

.upgrade-card {
    max-width: 24rem;
}

.arc {
    fill: #00006c;
    stroke-width: 0.3;
}

#ai-chart > a.active > .arc {
    fill: var(--red);
    stroke: var(#000000);
    stroke-width: 1;
}
